
@{
    ViewBag.Title = "Approved";
    Layout = "~/Views/User/Inner_LayoutPage.cshtml";
}


@using (Html.BeginForm())
{

<button type="submit" name="SubmitButton" value="Approve" class="btn btn-sm btn-success">Approve</button>

}